* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background: linear-gradient(#121212, #212b46);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  color: #FFF;
  font-weight: 500;
  font-size: 55px;
  animation: flip 2s;
}

.message-form {
  background-color: rgba(255, 255, 255, 0.2);
  width: 40%;
  padding: 15px;
  margin: 34px 0;
  display: flex;
  gap: 15px;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 1px 3px 8px #000;
}

.input-content {
  display: flex;
}

.input-label {
  color: #FFF;
  font-weight: 500;
  margin-right: 10px;
  font-size: 20px;
  min-width: 80px;
}

.message-input {
  background-color: #FFF;
  width: 100%;
  opacity: 0.7;
  border: 0;
  font-size: 20px;
  color: #010101;
  outline: none;
  border-radius: 20px;
  padding: 0 10px;
}

.message-input::placeholder {
  color: #010101;
  opacity: 0.5;
}

.text-input {
  background-color: #FFF;
  width: 100%;
  opacity: 0.7;
  border: 0;
  font-size: 15px;
  color: #010101;
  outline: none;
  border-radius: 20px;
  padding: 10px;
  min-height: 100px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.button-send {
  background-color: rgba(1, 1, 1, 0.4);
  width: 30%;
  font-size: large;
  color: #FFF;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
}

.visible {
  animation: appear 1s;
  opacity: 1;
}

.invisible {
  animation: disappear 1s;
  opacity: 0;
}

.button-send:hover {
  cursor: pointer;
  background-color: #FFF;
  color: rgba(1, 1, 1, 0.9);
}

@keyframes flip {
  from {
    transform: rotateX(90deg);
  }

  to {
    transform: rotateX(0deg);
  }
}

@keyframes appear {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes disappear {
  from {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(0);
  }
}